<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, Xander Holden CSE 340 App</p>
    <%# Assignment 3, Task 3 Link %>
  <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
</footer>
