<%# Unit 1, Assignment 1 %>
<h1>Welcome to CSE Motors!</h1>
<%# Unit 4, Sessions & Messages activity %>
<%- messages() %>

<section id="hero">

  <ul>
    <li>
      <h2>DMC Delorean</h2>
    </li>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dice!</li>
    <li><button id="actionbtn">Own Today</button></li>
  </ul>

</section>
<div class="flex-content">
  <section id="review">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section id="add-ons">
    <h2>Delorean Upgrades</h2>
    <div class="flex">
      <a href="#" title="flux-capacitor">
        <figure>

          <div class="add-col"><img src="./images/upgrades/flux-cap.png" alt="Flux-Capacitor"></div>
          <figcaption>Flux Capacitor</figcaption>
        </figure>
      </a>
      <a href="#" title="flame decals">
        <figure>
          <div class="add-col"><img src="./images/upgrades/flame.jpg" alt="flame decal"></div>
          <figcaption>Flame Decals</figcaption>
        </figure>
      </a>

    </div>
    <div class="flex">
      <a href="#" title="bumper stickers">
        <figure>
          <div class="add-col"><img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"> </div>
          <figcaption>Bumper Stickers</figcaption>
        </figure>
      </a>
      <a href="#" title="hub caps">
        <figure>
          <div class="add-col"><img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
          <figcaption>Hub Caps</figcaption>
        </figure>
      </a>

    </div>
  </section>

</div>