<%# Unit 3, Assignment 3, Task 1 %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>



<% if(Object.entries(htmlData).length > 0){ %>

<%- htmlData %>
<% } else { %>
<p class="notice">Sorry, no matching vehicle could be found.</p>
<% } %>

